body {
    background-color: rgb(214, 82, 42);
}
#yuumipic {
    text-align: center;
}
#yuumipic img {
    border-radius: 50px;
}
}
h1 {
    text-align: center;
     font-size: 220%;
    font-family: Georgia, 'Times New Roman', Times, serif;}
h2 {text-align: center;
     font-size: larger;
     font-family: cursive;
    }
    div {
        text-align: center;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(112, 3, 3);
    }
    #abilities-button {
        background-color: rgb(189, 77, 217);
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }